@page "/"

<PageTitle>Home</PageTitle>

<div class="home-hero">
    <h1>Open Source &amp; Standards Initiatives<br/>in Spatial Computing</h1>
</div>

<div class="home-box">
    <p>
        <strong>OpenSitePlan</strong> is an open-source standards activity sponsored by MobileGIS Ltd.
    </p>
    <p>
        The work builds on a series of standards
         initiatives beginning with ANSI X3H2 SQL 
         in 1988,
        followed by the IEEE 1278 Distributed Interactive Simulation (DIS) standard, 
        ISO TC 204 WG3 Intelligent Transportation Systems, in 1992, 
        the Open Geospatial Consortium (OGC) Simple Features
        for OLE/COM specification in 1999, 
        OGC Open Location Services (OpenLS) in 1999, 
        OGC CityGML in 2012, OGC GeoPose in 2022, 
        Metaverse Standards Forum (MSF) Spatial Computing.
    </p>
    <p>
        This activity has led or made significant contributions to several key standards and related activities, including
        SQL-92, IEEE 1278 DIS, OGC OpenLS 1.0, 
        OGC CityGML 2.0, OGC CityGML 3.0, 
        OGC GeoPose 1.0. and the MetaVerse Standards Forum
        Spatial Computing Working Group.
    </p>
</div>

<div class="home-timeline">
    <h2>Standards Timeline</h2>
    <ul>
        <li><span class="year">1988</span> ANSI X3H2 SQL</li>
        <li><span class="year">1992</span> ISO TC 204 WG3</li>
        <li><span class="year">1993</span> IEEE 1278 DIS</li>
        <li><span class="year">1999</span> OGC Simple Features</li>
        <li><span class="year">1999</span> OGC Open Location Services (OpenLS)</li>
        <li><span class="year">2012</span> OGC CityGML</li>
        <li><span class="year">2022</span> OFC GeoPose 1.0</li>
        <li><span class="year">2025</span> MSF Spatial Computing</li>
        <li><span class="year">2026</span> OGC GeoPose 1.x</li>
    </ul>
</div>
