@page "/services"

<PageTitle>Services</PageTitle>

<h1>Services</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Service</th>
            <th>Description</th>
            <th>Status</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Spatial Data Integration</td>
            <td>Connect and harmonise geospatial datasets across platforms</td>
            <td>Available</td>
            <td>info@mobilegis.com</td>
        </tr>
        <tr>
            <td>Standards Consulting</td>
            <td>Expert guidance on OGC, ISO, and IEEE spatial standards</td>
            <td>Available</td>
            <td>standards@mobilegis.com</td>
        </tr>
        <tr>
            <td>GeoPose Implementation</td>
            <td>Integration of OGC GeoPose 1.0 into client applications</td>
            <td>Available</td>
            <td>geopose@mobilegis.com</td>
        </tr>
        <tr>
            <td>CityGML Modelling</td>
            <td>3D city model creation and validation to CityGML 3.0</td>
            <td>On Request</td>
            <td>citygml@mobilegis.com</td>
        </tr>
        <tr>
            <td>Spatial Computing R&amp;D</td>
            <td>Research and development for Metaverse and XR spatial systems</td>
            <td>On Request</td>
            <td>rd@mobilegis.com</td>
        </tr>
    </tbody>
</table>
